.ctaButton {
    border-radius: 50px;
    background: #01BF71;
    white-space: nowrap;
    padding: 14px 20px;
    color: #010606;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.ctaButton:hover {
    transition: all 0.2s ease-in-out;
    background: #FFFFFF;
}
