.header {
    color: white;
    display: flex;
    padding: 20px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
}

.header > img {
    object-fit: contain;
    height: 80px;
}

.header__icons {
    display: flex;
    align-items: center;
    text-align: center;
}

.header__icon {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
}

.header__icon-active > p {
    display: inline !important;
}

.header__icon > p {
    font-size: small;
    display: none;
}

.header__icon:hover > p {
    display: inline;
}

.header__icon > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: auto;
}
