.header {
    color: white;
    display: flex;
    padding: 20px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.header::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.header {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.header__icons {
    display: none;
}

.menu__icon {
    cursor: pointer;
}

.Navigation_logo {
    color: #FFFFFF;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: bold;
}

.navigation__search > .MuiInputBase-root > input {
    color: white;
}

.navigation__search > button {
    color: white;
    background-color: #01BF71;;
}

.navigation__search > button:hover {
    color: #01BF71;
    background-color: white;
}

.header__icon {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
}

.header__icon-active > p {
    display: inline !important;
}

.header__icon > p {
    font-size: small;
    display: none;
}

.header__icon:hover {
    color: #01BF71;
}

.header__icon:hover > p {
    display: inline;
}

.header__icon > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .header__icons {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .menu__icon {
        display: none;
    }
}
