.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.icon {
    display: inline-block;
    margin: auto;
}


.button-class {
    margin-top: 15px;
    margin-bottom: 15px;
}

.signup-link {
    display: flex;
    justify-content: flex-end;
}

.centered-text {
    text-align: center;
}
