.card {
    justify-content: center;
}

.card > .MuiPaper-root {
    display: inline-block;
}

.card__content {
    display: flex;
    padding: 25px 16px !important;
}

.card__info {
    display: flex;
    flex-direction: column;
}

.card__fav__container {
    margin-left: auto;
    margin-right: 0;
}

.card__link {
    text-decoration: none;
}

.card__fav__container > svg {
    cursor: pointer;
}
